  <!-- Project Name: TanureetKaurExpressPortfolio
   File Name: footer.ejs
   Name: Tanureet Kaur
   Student id: 300986363
   -->


  
<script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstarp/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>
</html>