<!-- Project Name: TanureetKaurExpressPortfolio
   File Name: aboutme.ejs
   Name: Tanureet Kaur
   Student id: 300986363
  -->
   
<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4" align="center">Tanureet Kaur</h1>
           <p class="lead" align="center"><br>
           <img src="../public/Assets/images/MyPic.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:200px;height:200px" ></i>
           </p>
           <hr class="my-4">
           <p>My name is  Tanureet Kaur
            I am currently pursuing post-graduation diploma in Software Engineering Technology from Centennial College.
            I am a graduate in Bachelor of Computer Science. I have 2 years of IT experience and previously, I was working with Infosys Technologies Limited.
          </p><hr>
           <p class="lead">To know more about me please check
           <a href="/public/Assets/documents/TanureetKaur_Resume.pdf"><b>My Resume</b></a>
             
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 