<!-- Project Name: TanureetKaurExpressPortfolio
   File Name: error.ejs
   Name: Tanureet Kaur
   Student id: 300986363
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
