<!-- Project Name: TanureetKaurExpressPortfolio
   File Name: index.ejs
   Name: Tanureet Kaur
   Student id: 300986363
 -->
<% include ../partials/header.ejs %>

     <div class="container">
    <br><br><br>
           <h1 class="display-4" style="font-size:7vw" align="center"><b>Welcome </b></h1>
           <p class="lead" ><h5 align="center">To <br><h2 align="center">Tanureet Kaur's Express Portfolio</h2></h5><br></p>
           <p align="center" ><b>This website will provide information about me.</b></p><br>
            <p align="center" >Hi! I am Tanureet Kaur. I am currently pursuing post-graduation diploma in Software Engineering Technology from Centennial College.
                I am a graduate in Bachelor of Computer Science. I have 2 years of IT experience and previously, I was working with Infosys Technologies Limited. </p>
           <hr class="my-4">
           <p>  </p>
           <p class="lead">
             
           </p>
         
     </div>
<% include ../partials/footer.ejs %>


 