<!-- Project Name: TanureetKaurExpressPortfolio
   File Name: project.ejs
   Name: Tanureet Kaur
   Student id: 300986363
   -->
<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4">Tanureet Kaur</h1>
           <p class="lead">Welcome to the Projects Page <br>
           
           This page reflects my work for the projects that I did in this semester.</p>
           <hr class="my-4">
           <p> </p>
           <p class="lead">
           <h4><b>1. ASAP Task Manager</b></h4>
            I have done a group project using Mobile development named as "ASAP Task Manager" that can be used by the Project Managers/Team Members to keep a check on work done in a task.<br><br>
            <img src="../public/Assets/images/TaskManager.jpeg"  class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:500x;height:500px" ></i><br><br>
            <img src="../public/Assets/images/SignUp.jpeg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:250px;height:500px" ></i>
             <br><br>
             
            <h4><b>2. Portfolio Website</b></h4>
            I recently worked on a project named "Express Portfolio" website that provides information about myself. It is a my personal Portfolio Website. <br><br>
             <img src="../public/Assets/images/ExpressPortfolio.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ></i><br><br>
             <img src="../public/Assets/images/ExpressPortfolio2.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" style="width:700px;height:350px" ></i>
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 