<!-- Project Name: TanureetKaurExpressPortfolio
   File Name: services.ejs
   Name: Tanureet Kaur
   Student id: 300986363
   -->
<% include ../partials/header.ejs %>

     <div class="container">
       <div class="jumbotron">
           <h1 class="display-4">Tanureet Kaur</h1>
           <p class="lead">
           Some information about the services offered by me.</p>
           <hr class="my-4">
           <p>  </p>
           <p class="lead">
           
             <ul>               
             <li>Languages: C, C++, Java, HTML/CSS, JavaScript, ASP.Net, Database Management System</li>
             <li>Networking: Basic knowledge of PC installation.</li>
             <li>OS: Windows XP Professional</li>
             <li>Other Softwares: MS Office, Eclipse, Visual Studio, Visual Studio Code.</li>
             </ul>
           </p>
         </div>
     </div>
<% include ../partials/footer.ejs %>


 